.idea
.cache
.classpath
.project
/.settings
*.ipr
*.iws
*.iml
.*.swp
.*.swo
lib/
/templates/gen
target/
*/log/*
run/*
!.keep
*.hide
_ajdump/
/project/build.properties
.bloop/
.metals/
.vs/
.vscode/
categories.csv
parts.csv
src/test/resources/*-sorted.csv
src/test/resources/simple/
src/test/resources/pacer/
bricklink_ids.json
nul
/node_modules/
